body{
	background: white;
}
p{
	color: black;
}
h1{
	font-weight: bold;
}
img{
	float: right;
	height: 300px;

}
div{
	height: 740px;
	border-radius: 2px;
	display: block;
	border: 2px solid;
	margin-right: 800px;
	background-color: grey;


}
